@font-face {
     font-family: averia;
     src: url('style/font/AveriaLibre-Bold.ttf')
}

@font-face {
     font-family: blackops;
     src: url('style/font/BlackOpsOne-Regular.ttf')
}

@font-face {
     font-family: syne;
     src: url('style/font/SyneMono-Regular.ttf')
}

:root {
     --text: cornsilk
}

#title {
     font-family: blackops;
     font-size: 80pt;
     margin: 0.8lh auto;
     opacity: 0.15;
     color: #222;
     text-shadow: 0px 0px 5px white;
     position: fixed
}

h1 {
     font-family: averia, monospace;
     font-size: 20pt;
     margin: 0
}

html {
     height: 100%;
     font-family: syne, system-ui;
     background-color: #333;
     user-select: none;
     text-align: center;
     font-size: 14pt;
     text-rendering: optimizeLegibility;
     color: var(--text);
     box-sizing: border-box;
}

body {
     padding: 0;
     margin: 0;
     height: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
}

#dialogue {
     text-overflow: ellipsis;
     text-wrap-mode: wrap;
     text-wrap-style: pretty;
     min-height: 5lh;
     padding: 1em;
     width: 50vw;
     display: flex;
     hyphens: auto;
     white-space-collapse: collapse;
     outline: 4px solid var(--text);
     outline-offset: 2px;
     align-items: center;
}

container {
     border: 2px solid var(--text);
     background-color: rgba(75, 75, 75, 0.8);
     box-shadow: 3px 3px 3px 1px black;
}

div,
container {
     align-items: center;
     padding: 1lh;
}

ul {
     margin: 0;
     list-style-type: square;
     padding: 0;
     align-items: center;
     display: flex;
     flex-direction: column;
}

#health {
     display: block;
     width: 100%
}

#healthAfter {
     left: 0;
     height: 100%;
     background: red;
     width: 79%;
     position: absolute
}

#players {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     position: fixed;
     top: 1lh;
     left: 1lh
}

#inventory {
     top: 1lh;
     right: 1lh;
     width: min-content;
     position: fixed
}

.dead {
     opacity: 0.5;
     text-decoration: line-through;
}

.selectedP {
     text-decoration: underline;
}